@charset "UTF-8";
body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
.custom-Level-h1 {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 24pt;
    text-align: left;
    text-indent: 0.2cm;
    border: 0.5pt solid rgba(0,51,81,1.00);
    border-spacing: 6pt 6pt;
    background-color: rgba(0,71,91,1.00);
    width: 14.92cm;
}
.header-style {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 24pt;
    text-align: left;
    text-indent: 0.2cm;
    border: 0.5pt solid rgba(0,51,81,1.00);
    border-spacing: 6pt 6pt;
    background-color: rgba(0,71,91,1.00);
    width: 14.92cm;
}
.a1-header-style {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 24pt;
    text-align: left;
    text-indent: 0.2cm;
    border: 0.5pt solid rgba(0,51,81,1.00);
    border-spacing: 6pt 6pt;
    background-color: rgba(0,71,91,1.00);
    width: 14.92cm;
}
.paragraph-text {
    font-family: calibri;
    font-size: 8pt;
    text-align: left;
}
.list-Header {color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 24pt;
    text-align: left;
    text-indent: 0.2cm;
    border: 0.5pt solid rgba(0,51,81,1.00);
    border-spacing: 6pt 6pt;
    background-color: rgba(0,71,91,1.00);
    width: 14.92cm;
}

